<% layout('layouts/boilerplate') %>
    <h1>CAMPGROUND SHOW</h1>
    <img src="<%= camp.image %> " alt="image for the camp">
    <p>
        <b>
            <%= camp.title %>
        </b> - <i>
            <%= camp.location %>
        </i>
    </p>
    <p>
        $ <%= camp.price %>
    </p>
    <p>
        <%= camp.description %>
    </p>
    <p>
        <a href="/campgrounds/<%= camp._id %>/edit ">&rarr; Edit</a>
    </p>
    <form action="/campgrounds/<%= camp._id %>?_method=DELETE " method="POST">
        <button>DELETE</button>
    </form>
    <footer>
        <a href="/campgrounds/new">&rarr; Add a new Campground</a>
        <a href="/campgrounds"> | &rarr; Back to Mainpage</a>
    </footer>